<div class="container m-3">
  <div class="row">

    <div class="col-md-3 p-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tasks:</h5>
        </div>
        <ol>
          <li>Create an API in .DOTNET Core to retrieve the contents of the file food-list-data.json</li>
          <li>Retrieve the list of food items from your API and displays the items in 3 seperate lists: 1 for all food items, 1 for vegetatian food items and 1 for vegan food items. Do this in the 'food-list' component.</li>
          <li>Add a text field to search and filter all 3 lists.</li>
        </ol>
      </div>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>